<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{#if user}}/dash{{else}}/{{/if}}">BrewDoc</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">

      {{#if user}}

        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/dash">Dashboard</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="recipes_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recipes</a>
            <div class="dropdown-menu" aria-labelledby="recipes_dropdown">
              <a href="/recipes" class="dropdown-item">My Recipes</a>
              <a href="/recipes/add" class="dropdown-item">New Recipe</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="batch_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Batches</a>
            <div class="dropdown-menu" aria-labelledby="batch_dropdown">
              <a href="/batches" class="dropdown-item">My Batches</a>
              <a href="/batches/add" class="dropdown-item">New Batch</a>
            </div>
          </li>
        </ul>

        <ul class="navbar-nav">
          {{#if user.admin}}
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="admin_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
              <div class="dropdown-menu" aria-labelledby="admin_dropdown">
              <a href="#" class="dropdown-item">View Users</a>
              <a href="#" class="dropdown-item">Locked Users</a>
              <a href="#" class="dropdown-item">Reports</a>
              <a href="#" class="dropdown-item">Enhancements</a>
            </div>
            </li>
          {{/if}}
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="acct_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.name}}</a>
            <div class="dropdown-menu" aria-labelledby="acct_dropdown">
              <a href="#" class="dropdown-item">Report Problem</a>
              <a href="#" class="dropdown-item">Settings</a>
              <a href="/users/logout" class="dropdown-item">Logout</a>
            </div>
          </li>
        </ul>

      {{else}}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/users/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/register">Register</a>
          </li>
        </ul>
      {{/if}}
  </div>
</nav>
